In [1]:
import pandas as pd

### Load the data

In [2]:
# Load the dataset
file_path = 'Resources/NYPD_Complaint_Data_Current__Year_To_Date__20240920.csv'
nypd_df = pd.read_csv(file_path, low_memory=False)

#Display the first few rows of the dataframe
nypd_df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,280510523,14,MANHATTAN,01/11/2024,04:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,985764.0,213806.0,40.753533,-73.994537,"(40.7535327012632, -73.9945368920152)",POINT (-73.9945368920152 40.7535327012632)
1,286736978,122,STATEN ISLAND,01/01/2015,13:00:00,01/01/2015,15:00:00,COMPLETED,(null),NaN,...,NaN,25-44,UNKNOWN,F,954827.0,148519.0,40.574286,-74.105914,"(40.5742856881925, -74.1059144051212)",POINT (-74.1059144051212 40.5742856881925)
2,289019347,1,MANHATTAN,06/20/2024,16:12:00,06/20/2024,16:13:00,COMPLETED,(null),NaN,...,2.0,25-44,BLACK,F,982466.0,197787.0,40.709556,-74.006435,"(40.70955616028041, -74.00643483276845)",POINT (-74.00643483276845 40.70955616028041)
3,283688417,121,STATEN ISLAND,03/11/2024,10:00:00,03/13/2024,13:20:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,938414.0,170500.0,40.634542,-74.165142,"(40.634542, -74.165142)",POINT (-74.165142 40.634542)
4,280934552,122,STATEN ISLAND,11/14/2023,12:00:00,11/17/2023,12:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,M,941085.0,135276.0,40.537874,-74.155293,"(40.537874, -74.155293)",POINT (-74.155293 40.537874)

### Explore the data

In [3]:
# Check the size of the dataset
print("Dataset shape:", nypd_df.shape)

Dataset shape: (282069, 36)

In [4]:
# Display all the column names
print("Column names:", nypd_df.columns)

Column names: Index(['CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM',
       'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT',
       'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD',
       'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD',
       'PD_DESC', 'PREM_TYP_DESC', 'RPT_DT', 'STATION_NAME', 'SUSP_AGE_GROUP',
       'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_AGE_GROUP',
       'VIC_RACE', 'VIC_SEX', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude',
       'Longitude', 'Lat_Lon', 'New Georeferenced Column'],
      dtype='object')

In [5]:
# Get basic info about the dataset (data types, non-null values)
print(nypd_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282069 entries, 0 to 282068
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                282069 non-null  object
 1   ADDR_PCT_CD               282069 non-null  int64
 2   BORO_NM                   282069 non-null  object
 3   CMPLNT_FR_DT              282069 non-null  object
 4   CMPLNT_FR_TM              282069 non-null  object
 5   CMPLNT_TO_DT              267186 non-null  object
 6   CMPLNT_TO_TM              282069 non-null  object
 7   CRM_ATPT_CPTD_CD          282069 non-null  object
 8   HADEVELOPT                282069 non-null  object
 9   HOUSING_PSA               17650 non-null   float64
 10  JURISDICTION_CODE         282069 non-null  int64
 11  JURIS_DESC                282069 non-null  object
 12  KY_CD                     282069 non-null  int64
 13  LAW_CAT_CD                282069 non-null  object
 14  LOC_OF_OCCUR_DESC         282069 non-null  object
 15  OFNS_DESC                 282069 non-null  object
 16  PARKS_NM                  282069 non-null  object
 17  PATROL_BORO               282069 non-null  object
 18  PD_CD                     281897 non-null  float64
 19  PD_DESC                   282069 non-null  object
 20  PREM_TYP_DESC             282069 non-null  object
 21  RPT_DT                    282069 non-null  object
 22  STATION_NAME              282069 non-null  object
 23  SUSP_AGE_GROUP            282069 non-null  object
 24  SUSP_RACE                 282069 non-null  object
 25  SUSP_SEX                  282069 non-null  object
 26  TRANSIT_DISTRICT          12448 non-null   float64
 27  VIC_AGE_GROUP             282069 non-null  object
 28  VIC_RACE                  282069 non-null  object
 29  VIC_SEX                   282069 non-null  object
 30  X_COORD_CD                282065 non-null  float64
 31  Y_COORD_CD                282065 non-null  float64
 32  Latitude                  282065 non-null  float64
 33  Longitude                 282065 non-null  float64
 34  Lat_Lon                   282065 non-null  object
 35  New Georeferenced Column  282065 non-null  object
dtypes: float64(7), int64(3), object(26)
memory usage: 77.5+ MB
None

In [9]:
# Check for missing values in each column
missing_values = nypd_df.isnull().sum()

# Print missing values with header
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
CMPLNT_NUM                       1
ADDR_PCT_CD                      0
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 14883
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 264419
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          172
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            269621
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                       4
Y_COORD_CD                       4
Latitude                         4
Longitude                        4
Lat_Lon                          4
New Georeferenced Column         4
dtype: int64

In [10]:
# Summary statistics for numeric columns
nypd_df.describe()

,ADDR_PCT_CD,HOUSING_PSA,JURISDICTION_CODE,KY_CD,PD_CD,TRANSIT_DISTRICT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,282069.000000,17650.000000,282069.000000,282069.000000,281897.000000,12448.000000,2.820650e+05,282065.000000,282065.000000,282065.000000
mean,64.134761,6113.107365,0.556935,301.440417,422.145440,16.282053,1.005466e+06,207549.255608,40.736016,-73.922864
std,35.134144,12957.660677,5.176240,157.936083,231.433171,12.643224,2.171240e+04,29940.044035,0.136080,0.211627
min,1.000000,218.000000,0.000000,101.000000,100.000000,1.000000,0.000000e+00,0.000000,0.000000,-74.254555
25%,40.000000,463.000000,0.000000,117.000000,258.000000,3.000000,9.912710e+05,185346.000000,40.675332,-73.974664
50%,63.000000,672.000000,0.000000,341.000000,386.000000,12.000000,1.005028e+06,207065.000000,40.734955,-73.924961
75%,102.000000,1233.000000,0.000000,351.000000,638.000000,32.000000,1.017949e+06,234901.000000,40.811393,-73.878333
max,123.000000,72770.000000,97.000000,881.000000,969.000000,34.000000,1.067306e+06,271819.000000,40.912714,0.000000

### Rename all the columns for better understanding

In [11]:
# Create a dictionary to map the short column names to their full names
column_rename = {
    'CMPLNT_NUM': 'COMPLAINT_NUMBER',
    'ADDR_PCT_CD': 'ADDRESS_PRECINCT_CODE',
    'BORO_NM': 'BOROUGH_NAME',
    'CMPLNT_FR_DT': 'COMPLAINT_FROM_DATE',
    'CMPLNT_FR_TM': 'COMPLAINT_FROM_TIME',
    'CMPLNT_TO_DT': 'COMPLAINT_TO_DATE',
    'CMPLNT_TO_TM': 'COMPLAINT_TO_TIME',
    'CRM_ATPT_CPTD_CD': 'CRIME_ATTEMPT_COMPLETED_CODE',
    'HADEVELOPT': 'HOUSING_DEVELOPMENT',
    'HOUSING_PSA': 'HOUSING_PSA',
    'JURISDICTION_CODE': 'JURISDICTION_CODE',
    'JURIS_DESC': 'JURISDICTION_DESCRIPTION',
    'KY_CD': 'KEY_CODE',
    'LAW_CAT_CD': 'LAW_CATEGORY_CODE',
    'LOC_OF_OCCUR_DESC': 'LOCATION_OF_OCCURENCE_DESCRIPTION',
    'OFNS_DESC': 'OFFENSE_DESCRIPTION',
    'PARKS_NM': 'PARKS_NAME',
    'PATROL_BORO': 'PATROL_BOROUGH',
    'PD_CD': 'POLICE_DEPARTMENT_CODE',
    'PD_DESC': 'POLICE_DEPARTMENT_DESCRIPTION',
    'PREM_TYP_DESC': 'PREMISES_TYPE_DESCRIPTION',
    'RPT_DT': 'REPORT_DATE',
    'STATION_NAME': 'STATION_NAME',
    'SUSP_AGE_GROUP': 'SUSPECT_AGE_GROUP',
    'SUSP_RACE': 'SUSPECT_RACE',
    'SUSP_SEX': 'SUSPECT_SEX',
    'TRANSIT_DISTRICT': 'TRANSIT_DISTRICT',
    'VIC_AGE_GROUP': 'VICTIM_AGE_GROUP',
    'VIC_RACE': 'VICTIM_RACE',
    'VIC_SEX': 'VICTIM_SEX',
    'X_COORD_CD': 'X_COORDINATE',
    'Y_COORD_CD': 'Y_COORDINATE',
    'Latitude': 'LATITUDE',
    'Longitude': 'LONGITUDE',
    'Lat_Lon': 'LAT_LON',
    'New Georeferenced Column': 'New_Georeferenced_Column'
}

# Rename the columns using the dictionary
df_renamed = nypd_df.rename(columns=column_rename)

df_renamed.head()

,COMPLAINT_NUMBER,ADDRESS_PRECINCT_CODE,BOROUGH_NAME,COMPLAINT_FROM_DATE,COMPLAINT_FROM_TIME,COMPLAINT_TO_DATE,COMPLAINT_TO_TIME,CRIME_ATTEMPT_COMPLETED_CODE,HOUSING_DEVELOPMENT,HOUSING_PSA,...,TRANSIT_DISTRICT,VICTIM_AGE_GROUP,VICTIM_RACE,VICTIM_SEX,X_COORDINATE,Y_COORDINATE,LATITUDE,LONGITUDE,LAT_LON,New_Georeferenced_Column
0,None,14,MANHATTAN,01/11/2024,04:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,985764.0,213806.0,40.753533,-73.994537,"(40.7535327012632, -73.9945368920152)",POINT (-73.9945368920152 40.7535327012632)
1,280510523,122,STATEN ISLAND,01/01/2015,13:00:00,01/01/2015,15:00:00,COMPLETED,(null),NaN,...,NaN,25-44,UNKNOWN,F,954827.0,148519.0,40.574286,-74.105914,"(40.5742856881925, -74.1059144051212)",POINT (-74.1059144051212 40.5742856881925)
2,286736978,1,MANHATTAN,06/20/2024,16:12:00,06/20/2024,16:13:00,COMPLETED,(null),NaN,...,2.0,25-44,BLACK,F,982466.0,197787.0,40.709556,-74.006435,"(40.70955616028041, -74.00643483276845)",POINT (-74.00643483276845 40.70955616028041)
3,289019347,121,STATEN ISLAND,03/11/2024,10:00:00,03/13/2024,13:20:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,938414.0,170500.0,40.634542,-74.165142,"(40.634542, -74.165142)",POINT (-74.165142 40.634542)
4,283688417,122,STATEN ISLAND,11/14/2023,12:00:00,11/17/2023,12:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,M,941085.0,135276.0,40.537874,-74.155293,"(40.537874, -74.155293)",POINT (-74.155293 40.537874)

### Clean the data

In [12]:
# Drop irrelevant columns based on initial exploration
crime_data_cleaned = df_renamed.drop(columns=[
    'COMPLAINT_NUMBER',
    'ADDRESS_PRECINCT_CODE', 
    'COMPLAINT_TO_DATE', 
    'COMPLAINT_TO_TIME', 
    'HOUSING_DEVELOPMENT', 
    'HOUSING_PSA', 
    'JURISDICTION_CODE', 
    'JURISDICTION_DESCRIPTION', 
    'KEY_CODE', 
    'POLICE_DEPARTMENT_CODE',
    'POLICE_DEPARTMENT_DESCRIPTION',
    'PARKS_NAME', 
    'PATROL_BOROUGH',
    'STATION_NAME', 
    'TRANSIT_DISTRICT', 
    'X_COORDINATE',
    'Y_COORDINATE',
    'LAT_LON',
    'New_Georeferenced_Column'])

crime_data_cleaned.head()

,BOROUGH_NAME,COMPLAINT_FROM_DATE,COMPLAINT_FROM_TIME,CRIME_ATTEMPT_COMPLETED_CODE,LAW_CATEGORY_CODE,LOCATION_OF_OCCURENCE_DESCRIPTION,OFFENSE_DESCRIPTION,PREMISES_TYPE_DESCRIPTION,REPORT_DATE,SUSPECT_AGE_GROUP,SUSPECT_RACE,SUSPECT_SEX,VICTIM_AGE_GROUP,VICTIM_RACE,VICTIM_SEX,LATITUDE,LONGITUDE
0,MANHATTAN,01/11/2024,04:00:00,COMPLETED,FELONY,INSIDE,RAPE,HOTEL/MOTEL,01/14/2024,18-24,BLACK,U,18-24,BLACK,F,40.753533,-73.994537
1,STATEN ISLAND,01/01/2015,13:00:00,COMPLETED,MISDEMEANOR,INSIDE,SEX CRIMES,RESIDENCE-HOUSE,05/11/2024,25-44,UNKNOWN,M,25-44,UNKNOWN,F,40.574286,-74.105914
2,MANHATTAN,06/20/2024,16:12:00,COMPLETED,VIOLATION,(null),HARRASSMENT 2,TRANSIT - NYC SUBWAY,06/20/2024,45-64,BLACK,M,25-44,BLACK,F,40.709556,-74.006435
3,STATEN ISLAND,03/11/2024,10:00:00,COMPLETED,MISDEMEANOR,FRONT OF,PETIT LARCENY,MAILBOX OUTSIDE,03/13/2024,(null),(null),(null),25-44,BLACK,F,40.634542,-74.165142
4,STATEN ISLAND,11/14/2023,12:00:00,COMPLETED,FELONY,INSIDE,GRAND LARCENY,RESIDENCE-HOUSE,01/22/2024,(null),(null),(null),65+,WHITE,M,40.537874,-74.155293

In [13]:
# Get unique values and their counts for the Borough_Name column
borough_counts = crime_data_cleaned['BOROUGH_NAME'].value_counts()
print(borough_counts)

BOROUGH_NAME
BROOKLYN         78559
MANHATTAN        67032
QUEENS           63091
BRONX            60671
STATEN ISLAND    12566
(null)             150
Name: count, dtype: int64

In [14]:
# Get unique values and their counts for the Crime_Attempt_Completed_Code column
crime_attempt_completed_counts = crime_data_cleaned['CRIME_ATTEMPT_COMPLETED_CODE'].value_counts()
print(crime_attempt_completed_counts)

CRIME_ATTEMPT_COMPLETED_CODE
COMPLETED    278251
ATTEMPTED      3818
Name: count, dtype: int64

In [15]:
# Get unique values and their counts for the Law_Category_Code column
law_category_counts = crime_data_cleaned['LAW_CATEGORY_CODE'].value_counts()
print(law_category_counts)

LAW_CATEGORY_CODE
MISDEMEANOR    146492
FELONY          92182
VIOLATION       43395
Name: count, dtype: int64

In [16]:
# Get unique values and their counts for the Offense_Description column
offense_description_counts = crime_data_cleaned['OFFENSE_DESCRIPTION'].value_counts()
print(offense_description_counts)

OFFENSE_DESCRIPTION
PETIT LARCENY                     52827
HARRASSMENT 2                     41741
ASSAULT 3 & RELATED OFFENSES      30800
GRAND LARCENY                     23621
CRIMINAL MISCHIEF & RELATED OF    19644
                                  ...
LOITERING/GAMBLING (CARDS, DIC        3
ANTICIPATORY OFFENSES                 2
FORTUNE TELLING                       2
OTHER TRAFFIC INFRACTION              1
LOITERING                             1
Name: count, Length: 63, dtype: int64

In [19]:
# Drop rows with any missing or null values across all columns
crime_data_cleaned.dropna()

# Verify the changes
print(f"Original dataset size: {nypd_df.shape}")
print(f"Dataset size after dropping rows with missing values: {crime_data_cleaned.shape}")

# Display how many missing values remain (should be 0 after dropna)
print(crime_data_cleaned.isnull().sum())

Original dataset size: (282069, 36)
Dataset size after dropping rows with missing values: (282069, 17)
BOROUGH_NAME                         0
COMPLAINT_FROM_DATE                  0
COMPLAINT_FROM_TIME                  0
CRIME_ATTEMPT_COMPLETED_CODE         0
LAW_CATEGORY_CODE                    0
LOCATION_OF_OCCURENCE_DESCRIPTION    0
OFFENSE_DESCRIPTION                  0
PREMISES_TYPE_DESCRIPTION            0
REPORT_DATE                          0
SUSPECT_AGE_GROUP                    0
SUSPECT_RACE                         0
SUSPECT_SEX                          0
VICTIM_AGE_GROUP                     0
VICTIM_RACE                          0
VICTIM_SEX                           0
LATITUDE                             4
LONGITUDE                            4
dtype: int64

In [20]:
# Save the cleaned data to a CSV file
cleaned_file_path = 'Resources/Cleaned_NYPD_Complaint_Data.csv'
crime_data_cleaned.to_csv(cleaned_file_path, index=False)