In [2]:
import pandas as pd

### Load the data

In [7]:
# Load the dataset
file_path = 'Resources/NYPD_Complaint_Data_Current__Year_To_Date__20240920.csv'
nypd_df = pd.read_csv(file_path)

#Display the first few rows of the dataframe
nypd_df.head()

/var/folders/d2/618cxc_x1xqg8ynrw95x2kc80000gn/T/ipykernel_22679/1098515148.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  nypd_df = pd.read_csv(file_path)

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,280510523,14,MANHATTAN,01/11/2024,04:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,985764.0,213806.0,40.753533,-73.994537,"(40.7535327012632, -73.9945368920152)",POINT (-73.9945368920152 40.7535327012632)
1,286736978,122,STATEN ISLAND,01/01/2015,13:00:00,01/01/2015,15:00:00,COMPLETED,(null),NaN,...,NaN,25-44,UNKNOWN,F,954827.0,148519.0,40.574286,-74.105914,"(40.5742856881925, -74.1059144051212)",POINT (-74.1059144051212 40.5742856881925)
2,289019347,1,MANHATTAN,06/20/2024,16:12:00,06/20/2024,16:13:00,COMPLETED,(null),NaN,...,2.0,25-44,BLACK,F,982466.0,197787.0,40.709556,-74.006435,"(40.70955616028041, -74.00643483276845)",POINT (-74.00643483276845 40.70955616028041)
3,283688417,121,STATEN ISLAND,03/11/2024,10:00:00,03/13/2024,13:20:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,938414.0,170500.0,40.634542,-74.165142,"(40.634542, -74.165142)",POINT (-74.165142 40.634542)
4,280934552,122,STATEN ISLAND,11/14/2023,12:00:00,11/17/2023,12:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,M,941085.0,135276.0,40.537874,-74.155293,"(40.537874, -74.155293)",POINT (-74.155293 40.537874)

### Explore the data

In [8]:
# Check the size of the dataset
print("Dataset shape:", nypd_df.shape)

Dataset shape: (282069, 36)

In [9]:
# Display all the column names
print("Column names:", nypd_df.columns)

Column names: Index(['CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM',
       'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'CRM_ATPT_CPTD_CD', 'HADEVELOPT',
       'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD', 'LAW_CAT_CD',
       'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM', 'PATROL_BORO', 'PD_CD',
       'PD_DESC', 'PREM_TYP_DESC', 'RPT_DT', 'STATION_NAME', 'SUSP_AGE_GROUP',
       'SUSP_RACE', 'SUSP_SEX', 'TRANSIT_DISTRICT', 'VIC_AGE_GROUP',
       'VIC_RACE', 'VIC_SEX', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude',
       'Longitude', 'Lat_Lon', 'New Georeferenced Column'],
      dtype='object')

In [10]:
# Get basic info about the dataset (data types, non-null values)
print(nypd_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282069 entries, 0 to 282068
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                282069 non-null  object
 1   ADDR_PCT_CD               282069 non-null  int64
 2   BORO_NM                   282069 non-null  object
 3   CMPLNT_FR_DT              282069 non-null  object
 4   CMPLNT_FR_TM              282069 non-null  object
 5   CMPLNT_TO_DT              267186 non-null  object
 6   CMPLNT_TO_TM              282069 non-null  object
 7   CRM_ATPT_CPTD_CD          282069 non-null  object
 8   HADEVELOPT                282069 non-null  object
 9   HOUSING_PSA               17650 non-null   float64
 10  JURISDICTION_CODE         282069 non-null  int64
 11  JURIS_DESC                282069 non-null  object
 12  KY_CD                     282069 non-null  int64
 13  LAW_CAT_CD                282069 non-null  object
 14  LOC_OF_OCCUR_DESC         282069 non-null  object
 15  OFNS_DESC                 282069 non-null  object
 16  PARKS_NM                  282069 non-null  object
 17  PATROL_BORO               282069 non-null  object
 18  PD_CD                     281897 non-null  float64
 19  PD_DESC                   282069 non-null  object
 20  PREM_TYP_DESC             282069 non-null  object
 21  RPT_DT                    282069 non-null  object
 22  STATION_NAME              282069 non-null  object
 23  SUSP_AGE_GROUP            282069 non-null  object
 24  SUSP_RACE                 282069 non-null  object
 25  SUSP_SEX                  282069 non-null  object
 26  TRANSIT_DISTRICT          12448 non-null   float64
 27  VIC_AGE_GROUP             282069 non-null  object
 28  VIC_RACE                  282069 non-null  object
 29  VIC_SEX                   282069 non-null  object
 30  X_COORD_CD                282065 non-null  float64
 31  Y_COORD_CD                282065 non-null  float64
 32  Latitude                  282065 non-null  float64
 33  Longitude                 282065 non-null  float64
 34  Lat_Lon                   282065 non-null  object
 35  New Georeferenced Column  282065 non-null  object
dtypes: float64(7), int64(3), object(26)
memory usage: 77.5+ MB
None

In [13]:
# Check for missing values in each column
print("Missing values in each column:", nypd_df.isnull().sum())

Missing values in each column: CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 14883
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 264419
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          172
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            269621
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                       4
Y_COORD_CD                       4
Latitude                         4
Longitude                        4
Lat_Lon                          4
New Georeferenced Column         4
dtype: int64

In [14]:
# Summary statistics for numeric columns
nypd_df.describe()

,ADDR_PCT_CD,HOUSING_PSA,JURISDICTION_CODE,KY_CD,PD_CD,TRANSIT_DISTRICT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,282069.000000,17650.000000,282069.000000,282069.000000,281897.000000,12448.000000,2.820650e+05,282065.000000,282065.000000,282065.000000
mean,64.134761,6113.107365,0.556935,301.440417,422.145440,16.282053,1.005466e+06,207549.255608,40.736016,-73.922864
std,35.134144,12957.660677,5.176240,157.936083,231.433171,12.643224,2.171240e+04,29940.044035,0.136080,0.211627
min,1.000000,218.000000,0.000000,101.000000,100.000000,1.000000,0.000000e+00,0.000000,0.000000,-74.254555
25%,40.000000,463.000000,0.000000,117.000000,258.000000,3.000000,9.912710e+05,185346.000000,40.675332,-73.974664
50%,63.000000,672.000000,0.000000,341.000000,386.000000,12.000000,1.005028e+06,207065.000000,40.734955,-73.924961
75%,102.000000,1233.000000,0.000000,351.000000,638.000000,32.000000,1.017949e+06,234901.000000,40.811393,-73.878333
max,123.000000,72770.000000,97.000000,881.000000,969.000000,34.000000,1.067306e+06,271819.000000,40.912714,0.000000

### Rename all the columns

In [20]:
# Create a dictionary to map the short column names to their full names
column_rename = {
    'CMPLNT_NUM': 'Complaint Number',
    'CMPLNT_FR_DT': 'Complaint From Date',
    'CMPLNT_FR_TM': 'Complaint From Time',
    'CMPLNT_TO_DT': 'Complaint To Date',
    'CMPLNT_TO_TM': 'Complaint To Time',
    'RPT_DT': 'Report Date',
    'KY_CD': 'Key Code',
    'OFNS_DESC': 'Offense Description',
    'PD_CD': 'Police Department Code',
    'PD_DESC': 'Police Department Description',
    'CRM_ATPT_CPTD_CD': 'Crime Completed or Attempted',
    'LAW_CAT_CD': 'Law Category Code',
    'JURIS_DESC': 'Jurisdiction Description',
    'BORO_NM': 'Borough Name',
    'ADDR_PCT_CD': 'Precinct Code',
    'LOC_OF_OCCUR_DESC': 'Location of Occurrence',
    'PREM_TYP_DESC': 'Premises Type',
    'PARKS_NM': 'Parks Name',
    'HADEVELOPT': 'Housing Development Name',
    'X_COORD_CD': 'X Coordinate',
    'Y_COORD_CD': 'Y Coordinate',
    'Latitude': 'Latitude',
    'Longitude': 'Longitude'
}

# Rename the columns using the dictionary
df_renamed = nypd_df.rename(columns=column_rename)

df_renamed.head()

,Complaint Number,Complaint From Date,Complaint From Time,Complaint To Date,Complaint To Time,Report Date,Key Code,Offense Description,Police Department Code,Police Department Description,...,Precinct Code,Location of Occurrence,Premises Type,Parks Name,Housing Development Name,X Coordinate,Y Coordinate,Latitude,Longitude,Lat_Lon
0,736216184,09/30/2016,23:25:00,09/30/2016,23:25:00,09/30/2016,236,DANGEROUS WEAPONS,782.0,"WEAPONS, POSSESSION, ETC",...,42.0,NaN,TRANSIT - NYC SUBWAY,NaN,NaN,1015308.0,244373.0,40.837376,-73.887761,"(40.837376359, -73.887760929)"
1,294332956,09/30/2016,23:16:00,09/30/2016,23:21:00,09/30/2016,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,...,71.0,OPPOSITE OF,STREET,NaN,NaN,997932.0,180172.0,40.661205,-73.950687,"(40.661204871, -73.950686652)"
2,852981427,09/30/2016,23:00:00,09/30/2016,23:05:00,09/30/2016,235,DANGEROUS DRUGS,567.0,"MARIJUANA, POSSESSION 4 & 5",...,43.0,INSIDE,RESIDENCE - PUBLIC HOUSING,NaN,CASTLE HILL,1025580.0,236918.0,40.816872,-73.850685,"(40.816872438, -73.850684927)"
3,369976063,09/30/2016,23:00:00,NaN,NaN,09/30/2016,118,DANGEROUS WEAPONS,793.0,WEAPONS POSSESSION 3,...,103.0,NaN,STREET,NaN,NaN,1038464.0,192970.0,40.696177,-73.804492,"(40.696177006, -73.804492266)"
4,117213771,09/30/2016,23:00:00,09/30/2016,23:10:00,09/30/2016,578,HARRASSMENT 2,637.0,"HARASSMENT,SUBD 1,CIVILIAN",...,110.0,FRONT OF,STREET,NaN,NaN,1016301.0,209428.0,40.741458,-73.884339,"(40.741458245, -73.884339073)"

### Clean the data

In [23]:
# Drop irrelevant columns based on initial exploration
df_cleaned = df_renamed.drop(columns=['Complaint Number', 'Complaint To Date', 'Complaint To Time', 'Report Date', 'Police Department Code', 'Police Department Description', 'Jurisdiction Description', 'Location of Occurrence', 'Parks Name', 'Housing Development Name', 'X Coordinate', 'Y Coordinate'])

df_cleaned.head()

,Complaint From Date,Complaint From Time,Key Code,Offense Description,Crime Completed or Attempted,Law Category Code,Borough Name,Precinct Code,Premises Type,Latitude,Longitude,Lat_Lon
0,09/30/2016,23:25:00,236,DANGEROUS WEAPONS,COMPLETED,MISDEMEANOR,BRONX,42.0,TRANSIT - NYC SUBWAY,40.837376,-73.887761,"(40.837376359, -73.887760929)"
1,09/30/2016,23:16:00,344,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,BROOKLYN,71.0,STREET,40.661205,-73.950687,"(40.661204871, -73.950686652)"
2,09/30/2016,23:00:00,235,DANGEROUS DRUGS,COMPLETED,MISDEMEANOR,BRONX,43.0,RESIDENCE - PUBLIC HOUSING,40.816872,-73.850685,"(40.816872438, -73.850684927)"
3,09/30/2016,23:00:00,118,DANGEROUS WEAPONS,COMPLETED,FELONY,QUEENS,103.0,STREET,40.696177,-73.804492,"(40.696177006, -73.804492266)"
4,09/30/2016,23:00:00,578,HARRASSMENT 2,COMPLETED,VIOLATION,QUEENS,110.0,STREET,40.741458,-73.884339,"(40.741458245, -73.884339073)"